<form asp-controller="Scarpa" asp-action="Add" method="post">
    Name: <input type="text" name="Nome" /><br />
    Descrizione: <input type="text" name="Descrizione" /> <br />
    Prezzo : <input type="number" name="Prezzo" /> <br />
    Immgagine Scarpa : <input type="text" name="ImgScarpa" /> <br />
    Immagine Aggiuntiva : <input type="text" name="ImgAgg1" /> <br />
    <button>Submit</button>

</form>